/* import Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* General body styling */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #fdf6ec;
    max-width: 900px;
    margin: auto;
    margin: 0;
    padding: 0;
    color: #555;
    line-height: 1.6;
}

/* Navbar styling */
.navbar {
    list-style: none;
    padding: 15px;
    background-color: darkred;
    border-radius: 8px;
    text-align: center;
}

.navbar li {  
    display: inline;
    margin: 0 15px;
    padding-right: 10px;
    
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar li a:hover {
    color: orange;
}

/* Main Title */

h1 {
   text-align: center;
    color: orange;
    margin-bottom: 40px;
}

   /* Section Title */

   h2 {
    color: #333;
    border-bottom: 2px solid #ff6600;
    padding-bottom: 5px;
    margin-left: 20px;
    margin-top: 40px;
}
/* Menu List */

.menu-list {
    list-style: none;
    padding: 0;
}

/* Menu Card Box*/

.menu-item {
    background-color: white;
    padding: 15px;
    margin: 20px auto;
    margin-bottom: 25px;
    border-radius: 10px;
    width: 95%;
    box-shadow: 0 4px 8px rgba(0,0,0,0,1)
}

/* Hover Effect */

.menu-item:hover {
    transform: scale(1.03)
}   

/* Item Name */

.item-name {
    font-size: 20px;
    font-weight: bold;
}
/* Item Description */

.item-disc {
    color: #555;
    margin-top: 5px;
    font-weight: 500;
}
/* Contact Button */

.contact-btn {
    text-align: center;
    margin-top: 40px;
}

.contact-btn a {
    background-color: orange;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s ease,transform 0.3s ease
}

.contact-btn a:hover {
    background-color: darkorange;
}


#contact a:hover {
    background-color: #ff6600
}






